.ui.raised.segment{
	/*float: left;*/
	top: 50px;
	width: 800px;
	margin-left: -400px;
	left: 50%;
}

.ui.card{
	position: fixed;
	left: 20px;
	top: 50px;
}

.hsinchu{
	fill: #000079;
	stroke: #FFFFFF;
	stroke-dasharray: 2,2;
	stroke-linejoin: round;
}

.control-panel{
	width: 200px;
	float: right;
}

.a{
	fill: red;
}

.b{
	fill: yellow;
}

.c{
	fill: green;
}